//- views/empleados.pug
extends layout

block content
  h1 Gesti칩n de Empleados

  h2 Lista actual
  table
    thead
      tr
        th Nombre
        th Apellido
        th Usuario
        th Password
        th Rol
        th Sector
        th Acciones
    tbody#lista-empleados

  button#mostrar-alta(type="button") Alta de empleado

  div#seccion-alta(style="display:none;")
    h2 Alta de empleado
    form#form-agregar
      input(type="text", name="nombre", placeholder="Nombre", required)
      input(type="text", name="apellido", placeholder="Apellido", required)
      input(type="text", name="usuario", placeholder="Usuario", required)
      input(type="password", name="password", placeholder="Contrase침a", required)
      select(name="sector", id="sector-agregar", required)
        option(value="") -- Seleccionar sector --
      select(name="rol", id="rol-agregar", required disabled)
        option(value="") -- Seleccionar rol --
      button(type="button", id="cancelar-alta") Cancelar
      button(type="submit") Agregar


  div#seccion-editar(style="display:none;")
    h2 Modificar empleado
    form#form-editar
      input(type="hidden", name="id")
      input(type="text", name="nombre", placeholder="Nuevo Nombre", required)
      input(type="text", name="apellido", placeholder="Nuevo Apellido", required)
      input(type="text", name="usuario", placeholder="Nuevo Usuario", required)
      input(type="password", name="passwordActual", placeholder="Contrase침a actual", required)
      input(type="password", name="passwordNueva", placeholder="Nueva contrase침a", required)
      select(name="sector", id="sector-editar", required)
        option(value="") -- Seleccionar sector --
      select(name="rol", id="rol-editar", required disabled)
        option(value="") -- Seleccionar rol --
      button(type="submit") Editar


  link(rel="stylesheet", href="/css/empleados.css")
  link(rel="stylesheet", href="/css/styles.css")
  script(src="/js/empleados.js")