doctype html
html
  head
    title Menú Principal
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="/css/menu.css")
    script(src="/js/menu.js", defer)

  body
    .menu
      h2 Menú Principal

      if usuario
        p Bienvenido #{usuario.nombre} #{usuario.apellido} (#{usuario.rol} - #{usuario.sector})

      a(href='/empleados-vista') Empleados
      a(href='/tareas/vista') Tareas
      a(href='/clientes/vista') Clientes
      a(href='/propiedades/vista') Propiedades


      if usuario
        a(href="/logout", class="logout-btn") Cerrar sesión
