doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Propiedades
    link(rel="stylesheet", href="/css/propiedades.css")
  body
    h1 Propiedades
    .filters
      button#f-all       Todas
      button#f-disponible Disponibles
      button#f-alquilada  Alquiladas
    .propiedades-container#propiedades-container

    //- scripts al final del body
    script(src="/js/propiedades.js")